* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.877));
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.315);
    font-family: 'Poppins', sans-serif;
    color: white;
    bottom: 0;
  }